* 

{
  margin: 0;
  padding: 0;
}


.homeBg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/canva1.png');
  background-size: no-repeat;
  background-position: center;
}


.bannerfont .banner.title{
  font-size: 15px !important;
}



// ----------------------- LOGIN



.loginBg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/image2.jpg');
  background-size: no-repeat;
  background-position: bottom;
}






// ----------------------- Navbar


.navbar{
  background-color: #e3f2fd;
}









